/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
 @import url(../../webfonts/source-sans-pro/source-sans-pro.css);
 section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
   color: #222; }
 
@font-face {
  font-family: JetBrainsMono;
  src: url(../../webfonts/JetBrainsMono-Regular.woff2)
}

 /*********************************************
  * GLOBAL STYLES
  *********************************************/
 body {
   background: whitesmoke;
   background-color: whitesmoke; }
 
 .reveal {
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   font-size: 38px;
   font-weight: normal;
   color: #222; }
 
 ::selection {
   color: #222;
   background: #bee4fd;
   text-shadow: none; }
 
 .reveal .slides > section,
 .reveal .slides > section > section {
   line-height: 1.3;
   font-weight: inherit; }
 
 /*********************************************
  * HEADERS
  *********************************************/
 .reveal h1,
 .reveal h2,
 .reveal h3,
 .reveal h4,
 .reveal h5,
 .reveal h6 {
   margin: 0 0 20px 0;
   color: #ff6600;
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: normal;
 /*  text-transform: uppercase;*/
   text-shadow: none;
   word-wrap: break-word; }
 
 .reveal h1 {
   font-size: 2.5em; }
 
 .reveal h2 {
   font-size: 1.4em;
   text-align: left;
   border-bottom: 3px #ccc solid;
   margin-bottom: 50px;
   font-variant: small-caps;
 }
 
 .reveal h3 {
   font-size: 1.3em; }
 
 .reveal h4 {
   font-size: 1em; 
  color: #333;
  text-align: left;
}
 
 .reveal h1 {
   text-shadow: none; }
 
 /*********************************************
  * OTHER
  *********************************************/
 .reveal p {
   margin: 20px 0;
   line-height: 1.3;
     text-align: left;
 }
 
 /* Ensure certain elements are never larger than the slide itself */
 .reveal img,
 .reveal video,
 .reveal iframe {
   max-width: 95%;
   max-height: 95%; }
 
 .reveal strong,
 .reveal b {
   font-weight: bold;
   /* color: #ff6600; */
   color: #4bb4e6;
  }
 
 .reveal em {
   font-style: italic; }
 
 .reveal ol,
 .reveal dl,
 .reveal ul {
   display: inline-block;
   text-align: left;
   margin: 0 0 0 0.5em;
   width: 80%;
 }
 
 .reveal ol {
   list-style-type: decimal; }
 
 .reveal ul {
   list-style-type: disc; }
 
 .reveal ul ul {
   list-style-type: square; }
 
 .reveal ul ul ul {
   list-style-type: circle; }
 
 .reveal ul ul,
 .reveal ul ol,
 .reveal ol ol,
 .reveal ol ul {
   display: block;
   margin-left: 10px; }
 
 .reveal dt {
   font-weight: bold; }
 
 .reveal dd {
   margin-left: 10px; }
 
 .reveal q,
 .reveal blockquote {
   quotes: none; }
 
 .reveal blockquote {
   display: block;
   position: relative;
   width: 80%;
   margin: 10px auto;
   padding: 5px;
   font-style: italic;
   background: rgba(255, 255, 255, 0.05);
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
 
 .reveal blockquote p:first-child,
 .reveal blockquote p:last-child {
   display: inline-block; }
 
 .reveal q {
   font-style: italic; }
 
 .reveal pre {
   display: block;
   position: relative;
   width: 90%;
   margin: 20px auto;
   text-align: left;
   font-size: 0.55em;
   font-family: JetBrainsMono;
   line-height: 1.2em;
   word-wrap: break-word;
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }
 
 .reveal code {
   font-family: JetBrainsMono; }
 
 .reveal pre code {
   display: block;
   padding: 5px;
   overflow: auto;
   max-height: 500px;
   word-wrap: normal; }
 
 .reveal table {
   margin: auto;
   border-collapse: collapse;
   border-spacing: 0; }
 
 .reveal table th {
   font-weight: bold; }
 
 .reveal table th,
 .reveal table td {
   text-align: left;
   padding: 0.2em 0.5em 0.2em 0.5em;
   border-bottom: 1px solid; }

.reveal table th {
  text-align: center;
}

   
 .reveal table th[align="center"],
 .reveal table td[align="center"] {
   text-align: center; }
 
 .reveal table th[align="right"],
 .reveal table td[align="right"] {
   text-align: right; }
 
 .reveal table tbody tr:last-child th,
 .reveal table tbody tr:last-child td {
   border-bottom: none; }
 
 .reveal sup {
   vertical-align: super; }
 
 .reveal sub {
   vertical-align: sub; }
 
 .reveal small {
   display: inline-block;
   font-size: 0.6em;
   line-height: 1.2em;
   vertical-align: top; }
 
 .reveal small * {
   vertical-align: top; }
 
 /*********************************************
  * LINKS
  *********************************************/
 .reveal a {
  /** color: #42affa; **/
     color: #7346B1;
   /**color: rgb(168, 133, 216);**/
   text-decoration: underline;
   -webkit-transition: color .15s ease;
   -moz-transition: color .15s ease;
   transition: color .15s ease; }
 
 .reveal a:hover {
  /**   color: #8dcffc; **/
     
 /**  color: rgb(203, 182, 232); **/
   color: rgb(168, 133, 216);
   text-shadow: none;
   border: none; }
 
 .reveal .roll span:after {
   color: #fff;
   background: #068de9; }
 
 /*********************************************
  * IMAGES
  *********************************************/
 .reveal section img {
   margin: 15px 0px;
   background: rgba(255, 255, 255, 0.12);
   border: 4px solid #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
 
 .reveal section img.plain {
   border: 0;
   box-shadow: none; }
 
 .reveal a img {
   -webkit-transition: all .15s linear;
   -moz-transition: all .15s linear;
   transition: all .15s linear; }
 
 .reveal a:hover img {
   background: rgba(255, 255, 255, 0.2);
   border-color: #42affa;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }
 
 /*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
 .reveal .controls .navigate-left,
 .reveal .controls .navigate-left.enabled {
   border-right-color: #4bb4e6; }
 
 .reveal .controls .navigate-right,
 .reveal .controls .navigate-right.enabled {
   border-left-color: #4bb4e6; }
 
 .reveal .controls .navigate-up,
 .reveal .controls .navigate-up.enabled {
   border-bottom-color: #4bb4e6; }
 
 .reveal .controls .navigate-down,
 .reveal .controls .navigate-down.enabled {
   border-top-color: #4bb4e6; }
 
 .reveal .controls .navigate-left.enabled:hover {
   border-right-color: #8dcffc; }
 
 .reveal .controls .navigate-right.enabled:hover {
   border-left-color: #8dcffc; }
 
 .reveal .controls .navigate-up.enabled:hover {
   border-bottom-color: #8dcffc; }
 
 .reveal .controls .navigate-down.enabled:hover {
   border-top-color: #8dcffc; }
 
 /*********************************************
  * PROGRESS BAR
  *********************************************/
 .reveal .progress {
   background: rgba(0, 0, 0, 0.2); }
 
 .reveal .progress span {
   background: #42affa;
   -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
 
 
 /*********************************************
  * ADD ON
  *********************************************/
 
 
 img.noborder {
   border:0 none!important;
   box-shadow:none!important;
   background:none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
   margin:0!important;
 }
 
 .logo-orange {
   position: absolute;
   width: 100px;
   height: 100px;
   background-image: url(../images/orange.gif);
   background-size: 100% 100%;
   background-repeat: no-repeat;
 }
 
 
 
 section.couverture h4 {
     color:black;
     text-align: left;
     margin:0px;
 }
